<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/images/一笔签.gif" alt="BDFD Signature" style="width:250px;height:70px;">  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Login Page</a>
            </li> 
            <li class="nav-item active">
                <a class="nav-link" href="/bdfd">Home Page</a>
            </li> 
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Intro</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/psintro/1">Intro-01</a>
                    <a class="dropdown-item" href="/psintro/2">Intro-02</a> 
                    <a class="dropdown-item" href="/psintro/3">Intro-03</a>
                    <a class="dropdown-item" href="/psintro/4">Intro-04</a>
                </div>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Experience</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/psexp/1">Exp-01</a>
                    <a class="dropdown-item" href="/psexp/1">Exp-02</a>
                    <a class="dropdown-item" href="/psexp/1">Exp-03</a>
                    <a class="dropdown-item" href="/psexp/1">Exp-04</a>
                    <a class="dropdown-item" href="/psexp/1">Exp-05</a>
                </div>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Project</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/psproject/1">Project-01</a>
                    <a class="dropdown-item" href="/psproject/1">Project-02</a>
                    <a class="dropdown-item" href="/psproject/1">Project-03</a>
                    <a class="dropdown-item" href="/psproject/1">Project-04</a>
                </div>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Event</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/psevent/2019">Event2019</a>
                    <a class="dropdown-item" href="/psevent/2020">Event2020</a>
                    <a class="dropdown-item" href="/psevent/2021">Event2021</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/about">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/msg">Msg Me</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        </div>
</nav>


