<body>
  <div class="men_cen">
    <!--门-->
      <div class="menkai ">
        <img src="/images/Passcode_Index/men_kaiR.png"/>
         <span><img src="images/Passcode_Index/bashou.png"/></span>
       </div>
       <!-- 键盘区 -->
      <div class="jianpan"></div>
      <!--光-->
      <div class="kaimen_guang"></div>
   
  
      <!--密码-->
      <div class="mimasuo none">
        <div class="nima_num">
            <ul id="carnum" >
                <li>1</li>
                  <li>2</li>
                  <li>3</li>
                  <li>4</li>
                  <li>5</li>
                  <li>6</li>
                  <li>7</li>
                  <li>8</li>
                  <li>9</li>
                  <li>*</li>
                  <li>0</li>
                  <li ><img src="images/Passcode_Index/qinling.png"/></li>
              </ul>
          </div>
      </div>
  
      <!--输入密码-->
      <div class="srmima none">
          <span></span>
      </div>
  </div>
  
  
     <!--密码正确提示-->
  <div class="mimcw_zezc" style="display:none" id="cyts">
      <div class="tac_mimcw">
         <span>恭喜你！密码正确。
             <a href="/bdfd" >点这里</a>
             </span>
          <!-- <img src="images/an_zsyc.png"/> -->
      </div>
  </div>

       <!--密码错误提示-->
       <div class="mimcw_zezc" style="display:none" id="cyts2">
        <div class="tac_mimcw">
           <span>密码错误</span>
            <img src="images/Passcode_Index/an_zsyc.png"/>
        </div>
    </div>
  
  
     <!--开始密码提示调戏-->
  <div class="mimcw_zezc "  id="mimts"  >
      <div class="tac_mimcw">
          <b>密码：就不告诉你</b>
          
      </div>
  </div>