<h1>hello world</h1>
<br>
<p>&nbsp;&nbsp;&nbsp;&nbsp;当然了显示hello world是所有语言的入门第一道任务</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;我也不例外，勉为其难也得在首页面显示一下</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;虽然呢，主页有点丑</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;但是呢，谁叫我水平有限</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;不过呢</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;重点来了</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;点击下方图片进入主题</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;或者点击上面Event Categories 然后选择Event 2019</p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/personalevent/2019"><img src="/images/Year2019.jpeg" alt="BDFD Signature" style="width:250px;height:100px;"></a>
<script> document.title = 'Home Page' </script>