test
<div id="photos">
    <img src="/images/Event/Event220191031/1.JPG" alt="">
    <img src="/images/Event/Event220191031/2.JPG" alt="">
    <img src="/images/Event/Event220191031/3.JPG" alt="">
    <img src="/images/Event/Event220191031/4.JPG" alt="">
    <img src="/images/Event/Event220191031/5.JPG" alt="">
    <img src="/images/Event/Event220191031/6.JPG" alt="">
    <img src="/images/Event/Event220191031/7.JPG" alt="">
    <img src="/images/Event/Event220191031/8.JPG" alt="">
    <img src="/images/Event/Event220191031/9.JPG" alt="">
    <img src="/images/Event/Event220191031/10.JPG" alt="">
    <img src="/images/Event/Event220191031/11.JPG" alt="">
    <img src="/images/Event/Event220191031/12.JPG" alt="">
    <img src="/images/Event/Event220191031/13.JPG" alt="">
    <img src="/images/Event/Event220191031/14.JPG" alt="">

    <div></div>
</div>

<audio autoplay="" id="bgmMusic" loop="" preload="auto" src="/images/Event/Event220191031/野狼disco.mp3" type="audio/mp3"></audio>
<script src="/javascripts/1PhotoAnimation/4AutoCircleRotate/animation.js"></script>





</script>
<!-- 如何设置3D场景布局
        1.设置场景景深 in #perspective
        2. 给元素设置3D 风格
    旋转整个相册 就是改变相册元素 rotatex() and rotatey()
    过渡需要一个明显的过程

-->