<head>
  <link rel='stylesheet' href='/stylesheets/Event/2019/20191226/style.css' type='text/css'/>
  <script> document.title = '12-26 Chrismas Party Event Page' </script>
</head>
<body>
  
  <div class="box">
    <ul class="minbox">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ol class="maxbox">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ol>
  </div>
</body>