<head>
    <link rel="stylesheet" href="/stylesheets/Event/2019/20191031/style.css"/>
</head>
<div id="photos">
    <img src="/images/Event/2019/Event20191031/1.jpg" alt="">
    <img src="/images/Event/2019/Event20191031/2.jpg" alt="">
    <img src="/images/Event/2019/Event20191031/3.jpg" alt="">
    <img src="/images/Event/2019/Event20191031/4.jpg" alt="">
    <img src="/images/Event/2019/Event20191031/5.jpg" alt="">
    <img src="/images/Event/2019/Event20191031/6.jpg" alt="">
    <img src="/images/Event/2019/Event20191031/7.jpg" alt="">
    <img src="/images/Event/2019/Event20191031/8.jpg" alt="">
    <img src="/images/Event/2019/Event20191031/9.jpg" alt="">
    <img src="/images/Event/2019/Event20191031/10.jpg" alt="">
    <img src="/images/Event/2019/Event20191031/11.jpg" alt="">
    <img src="/images/Event/2019/Event20191031/12.jpg" alt="">
    <img src="/images/Event/2019/Event20191031/13.jpg" alt="">
    <img src="/images/Event/2019/Event20191031/14.jpg" alt="">
    <div></div>
</div>

<audio autoplay="" id="bgmMusic" loop="" preload="auto" src="/images/Event/2019/Event20191031/野狼disco.mp3" type="audio/mp3"></audio>
<script src="/javascripts/Event/2019/20191031/animation.js"></script>
<script> document.title = '10-31 Holloween Event Page' </script>





</script>
<!-- 如何设置3D场景布局
        1.设置场景景深 in #perspective
        2. 给元素设置3D 风格
    旋转整个相册 就是改变相册元素 rotatex() and rotatey()
    过渡需要一个明显的过程

-->