<head>
    <title>2019的活动页面展示</title>
    <link rel="stylesheet" href="/stylesheets/Event/2019/style.css">
    <style type="text/css">
        p{color:wheat;}
    </style>
</head>
<body>
    <!-- 2019 PageTest -->
    <div class="wrapper init">
        <ul class="content">
            <li class="item">
                <div class="inner">
                    <div class="bjPic"></div>
                    <div class="dir">
                        <h2>那一刻</h2>
                    </div>
                    <div class="showBox">
                        <div class="showBox-dir">
                            <img src="/images/Event/2019/那一刻.png" alt="那一刻">
                            <!-- <h2>那一刻，我升起风马，不为祈福，只为守候你的到来。</h2> -->
                            <p>Read Me<br>
                            打个招呼咯<br>
                            手机用户可横屏<br>
                            还有提醒各位<br>
                            网页版打开后有播放野狼disco<br>
                            就摸鱼的各位请静音操作<br>
                            <a href="/personalevent/2019/1031" >点我有惊喜，记得双击</a><br>
                            点上面<br>
                            顺便再次鸣谢小紫组织这次活动<br>
                            以及两位大厨Bwoah,  xbox360<br></p>
                        </div>
                        <div class="close">

                        </div>
                    </div>
                </div>

            </li>
            <li class="item">
                <div class="inner">
                    <div class="bjPic"></div>
                    <div class="dir">
                        <h2>那一天</h2>
                    </div>
                    <div class="showBox">
                        <div class="showBox-dir">
                            <img src="/images/Event/2019/那一天.png" alt="那一天">
                            <!-- <h2>那一天 ，闭目在经殿香雾中，蓦然听见， 你颂经中的真言。</h2> -->
                            <p color:rgb(0,0,255)>Read Me<br>
                            打个招呼咯<br>
                            手机用户可横屏<br>
                            <a href="/personalevent/2019/1208" >点我有惊喜，记得双击</a><br>
                            点上面<br>
                            顺便再次鸣谢Trista组织这次活动<br>
                            而且还精心准备了圣诞礼物<br></p>
                        </div>
                        <div class="close">

                        </div>
                    </div>
                </div>

            </li>
            <li class="item">
                <div class="inner">
                    <div class="bjPic"></div>
                    <div class="dir">
                        <h2>那一日</h2>
                    </div>
                    <div class="showBox">
                        <div class="showBox-dir">
                            <img src="/images/Event/2019/那一日.png" alt="那一日">
                            <!-- <h2>那一日，垒起玛尼堆，不为修德 ，只为投下心湖的石子。</h2> -->
                            <p color:rgb(0,0,255)>Read Me<br>
                                打个招呼咯<br>
                                手机用户可横屏<br>
                                <a href="/personalevent/2019/1226" >点我有惊喜，记得双击</a><br>
                                点上面<br>
                                顺便再次鸣谢Trista组织这次活动<br>
                                渡过一个美好的圣诞，完美收官<br></p>
                        </div>
                        <div class="close">

                        </div>
                    </div>
                </div>

            </li>
            <li class="item">
                <div class="inner">
                    <div class="bjPic"></div>
                    <div class="dir">
                        <h2>那一夜</h2>
                    </div>
                    <div class="showBox">
                        <div class="showBox-dir">
                            <img src="/images/Event/2019/那一夜.png" alt="那一夜">
                            <!-- <h2>那一夜，我彻宿低吟，不为参悟，只为寻你的气息</h2> -->
                        </div>
                        <div class="close">

                        </div>
                    </div>
                </div>

            </li>
            <li class="item">
                <div class="inner">
                    <div class="bjPic"></div>
                    <div class="dir">
                        <h2>那一月</h2>
                    </div>
                    <div class="showBox">
                        <div class="showBox-dir">
                            <img src="/images/Event/2019/那一月.png" alt="那一月">
                            <!-- <h2>那一月，我摇动所有经筒，不为超度，只为触摸你指尖。</h2> -->
                        </div>
                        <div class="close">

                        </div>
                    </div>
                </div>

            </li>
            <li class="item">
                <div class="inner">
                    <div class="bjPic"></div>
                    <div class="dir">
                        <h2>那一年</h2>
                    </div>
                    <div class="showBox">
                        <div class="showBox-dir">
                            <img src="/images/Event/2019/那一年.png" alt="那一年">
                            <!-- <h2>那一年，磕长头匍匐在山路，不为觐见，只为贴着你的温暖。</h2> -->
                        </div>
                        <div class="close">

                        </div>
                    </div>
                </div>

            </li>
            <li class="item">
                <div class="inner">
                    <div class="bjPic"></div>
                    <div class="dir">
                        <h2>那一世</h2>
                    </div>
                    <div class="showBox">
                        <div class="showBox-dir">
                            <img src="/images/Event/2019/那一世.png" alt="那一世">
                            <!-- <h2>那一世，转山转水转佛塔，不为修来世，只为途中相见。</h2> -->
                        </div>
                        <div class="close">

                        </div>
                    </div>
                </div>

            </li>
            <li class="item">
                <div class="inner">
                    <div class="bjPic"></div>
                    <div class="dir">
                        <h2>那一瞬</h2>
                    </div>
                    <div class="showBox">
                        <div class="showBox-dir">
                            <img src="/images/Event/2019/那一瞬.png" alt="那一瞬">
                            <!-- <h2>那一瞬，我飞升成仙，不为长生，只为佑你平安喜乐。</h2> -->
                        </div>
                        <div class="close">

                        </div>
                    </div>
                </div>

            </li>
        </ul>
    </div>

    <script src="/javascripts/Event/2019/jquery.min.js"></script>
    <script src="/javascripts/Event/2019/index.js"></script>
    <script src="/javascripts/Event/2019/snowflake.js"></script>
</body>